.topbanner {
	height: 50vh;
	min-height: 300px;
	color: white;
	position: relative;

	&__inner {
		position: absolute;
		top: 50%;	left: 50%;
		transform: translate(-50%, -50%);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background: rgba($color: #000000, $alpha: 0.3);
	}

	&__content {
		h2 {
			background-color: #fff;
			color: #000000;
			display: inline-block;
			padding: 5px 15px 0 15px;
		}
	}

	&_fixed:before {
		content: '';
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 50vh;
		min-height: 300px;
		background: rgba($color: #000000, $alpha: 0.3);
		z-index: 1;
	}
}