@import '../../../scss/templates';

.contacts-header {
  min-height: 70vh;
  &-figure {
    @extend %figure-header;
    &_bg {
      @extend %figure-header-bg;
    }
  }

  &-inner {
    background: rgba($color: white, $alpha: 0.8);
    height: 100%;
    z-index: 2;
  }
  
}