@import '../../scss/vars';

.card {
  box-shadow: $bshadow-standart;
  height: 100%;

  display: flex;
  flex-direction: column;

  @media (max-width: $m-sm-max) {
    box-shadow: none;
    border: 1px solid black;
  }

  &__photo {
    width: 100%;
    height: 250px;
    transition: height $tr-standart;

    @media (max-width: $m-sm-max) {
      height: 200px;
    }

    @media (min-width: $m-lg-min) and (max-width: $m-lg-max) {
      height: 200px;
    }
  }

  &__inner {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
  }

  &__title {
    font-weight: 600;
  }

  &__description p {
    color: $c-gray-dark;
  }

  &__footer {
    margin-top: auto;
    border-top: 1px solid $c-gray-dark;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
  }
}

.card-price .card {
  &__photo {
    height: 350px;
    transition: height $tr-standart;

    @media (max-width: $m-sm-max) {
      height: 250px;
    }

    @media (min-width: $m-lg-min) and (max-width: $m-lg-max) {
      height: 250px;
    }
  }

  &__title {
    font-size: 1.5rem;
  }

  &__description p {
    font-size: 1rem;
  }

  &__price {
    margin-top: auto;
    text-align: center;
  }

  &__subprice {
    span {
      font-size: 0.8rem;
      text-align: left;
    }
  }

  &__link {
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.card-event {
  height: auto;
	.fas {
		font-size: 36px;
	}
  .card {
    &__photo {
      height: 350px;
      transition: height $tr-standart;

      @media (max-width: $m-sm-max) {
        height: 200px;
      }

      @media (min-width: $m-lg-min) and (max-width: $m-lg-max) {
        height: 250px;
      }
    }

    &__title {
      font-size: 2rem;
      @media (max-width: $m-sm-max) {
        font-size: 1.5rem;
      }
    }

    &__description p,
    &__dates,
    &__place {
      font-size: 1.5rem;
      color: $c-gray-dark;

      @media (max-width: $m-sm-max) {
        font-size: 1rem;
      }
    }
  }
}

.card-partner {
	min-height: 600px;
	@media (max-width: $m-xs-max) {
		min-height: 500px
	}
	@media (min-width: $m-md-min) and (max-width: $m-lg-max) {
		min-height: 500px
	}
	.card {
		&__photo {
      height: 100%;
		}
		
		&__title {
      font-size: 2rem;
    }

		&__description p {
      font-size: 1.5rem;
      color: $c-gray-dark;
		}

		&__photo-wrapper {
      position: relative;
      height: 350px;
      transition: height $tr-standart;

      @media (max-width: $m-xs-max) {
        height: 250px;
      }

      @media (min-width: $m-md-min) and (max-width: $m-lg-max) {
        height: 250px;
      }
		}

		&__price {
			position: absolute; 
			bottom: -2px; right: -2px;
			background-size: contain;
			background-position: right bottom;
			width: 50%; height: 50%;
			background-repeat: no-repeat;

			padding: 10px;

			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;

			&-value {
				color: white;
				font-size: 2rem;
				user-select: none;

				@media (max-width: $m-xs-max) {
					font-size: 1.3rem;
				}

				@media (min-width: $m-md-min) and (max-width: $m-lg-max) {
					font-size: 1.3rem;
				}
			}
		}

		&__link {
			margin-top: auto;
			text-transform: uppercase;
			font-size: 1rem;
		}
		
	}
}

.card-membership {
  .card {
    &__description {
      color: $c-gray-dark;
    }

    &__price {
      text-align: center;
      text-transform: uppercase;
    }
  }
}