@import '../../scss/vars';

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #ffffffbb;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-inner {
    position: relative;
    background-color: #fff;
    padding: 50px;
		border-radius: 25px;
		
		min-width: 650px;
		min-height: 350px;
		box-shadow: $bshadow-standart;

		@media (max-width: $m-md-max) {
			min-width: 450px;
			min-height: 200px;
		}

		@media (max-width: $m-sm-max) {
      min-width: 300px;
      width: 100%;
      box-shadow: none;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-radius: unset;
		}
  }

  &-close {
    position: absolute;
    top: 15px;
		right: 15px;

    i {
      color: black;
    }
  }
}