@import '../../scss/vars';

.header {
	height: $header-height;
	min-height: 75px;
	max-height: $header-height;
	transition: height $tr-standart;
	.header-logo {
		position: relative;
		margin-right: 30px;
		width: 120px; height: $header-height;
		min-height: 75px;
		transition: height $tr-standart;

		.logo-brand {
			position: absolute;
			top: 0; left: 0;
		}

		.logo-text {
			position: absolute;
			top: 50%; left: 0;
			transform: translateY(-50%);
		}
	}

	&-wrapper {
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		background-color: transparent;
	}
}

.header-nav {
	.nav-item {
		color: $c-black;
		font-family: $ff-title;
		font-size: $fz-h5;

		&.active {
			color: $c-blue;
		}

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.header_white {
	background-color: white;
	box-shadow: $bshadow-standart;
	transition: box-shadow $tr-standart, background-color $tr-standart;

	.header, .header-logo {
		height: $header-height-mobile;
	}

	.header-nav a,
	.header-profile p,
	.header-profile i,
	.header-mobile-open,
	.header-profile__login {
		color: black;
	}
}

.header_transparent {
	background-color: transparent;
	box-shadow: none;

	.header, .header-logo {
		height: $header-height;
	}

	.header-logo a {
		@media (max-width: $m-xs-max) {
			color: white;
		}
	}

	.header-nav a,
	.header-profile p,
	.header-profile i,
	.header-mobile-open,
	.header-profile__login {
		color: white;
	}
}

.header-mobile-open {
	font-size: $header-mobile-control-size;
}