@import '../../scss/vars';

$offset-width: 10px;

.bgicon {
	background-color: $c-icons;
	width: 50px; height: 50px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: $offset-width;

	transition: background-color $tr-standart;

	img {
		object-fit: contain;
		transform: translateX(-$offset-width);
		transition: transform $tr-standart;
	}
}

a:hover, a:focus {
	.bgicon {
		background-color: $c-yellow;

		img {
			transform: translateX(0);
		}
	}
}