/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css');

@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: 300;
  src: local('bebasneuebook'),
       url('./assets/fonts/bebasneuebook.woff2') format('woff2'),
       url('./assets/fonts/bebasneuebook.woff') format('woff'),
       url('./assets/fonts/bebasneuebook.ttf') format('ttf'),
}

@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: 400;
  src: local('bebasneueregular'),
       url('./assets/fonts/bebasneueregular.woff2') format('woff2'),
       url('./assets/fonts/bebasneueregular.woff') format('woff'),
       url('./assets/fonts/bebasneueregular.ttf') format('ttf'),
}

@import './scss/vars';
@import './scss/spacing';

body {
	position: relative;
	font-family: $ff-main;
	font-size: $fz-body-1;
	font-weight: normal;
	letter-spacing: 0.5px;
	color: $c-black;
	overflow-x: hidden;
	overflow-y: scroll;
	@media (max-width: $m-sm-max) {
		font-size: $fz-body-2;
		letter-spacing: 0.25;
	}

	&.no-scroll {
		overflow: hidden !important;
	}
}

html {
	line-height: 1.3;
}

.container {
	transition: max-width $tr-standart;
}

.wrapper {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	z-index: 1;
	min-height: 100vh - $header-height;
}

main {
	padding-top: 90px;
}

header {
	z-index: 5;
	position: relative;
}

section {
	position: relative;
	z-index: 1;
}

.badge {
	border-radius: 5px;
	font-size: 8px;
	padding: 5px;

	position: absolute;
	top: -10px; right: -10px;
	pointer-events: none;
}

.sbox {
	background-color: #fff;
	padding: 25px 0;
	&_info {
		background-color: $c-info;
	}
	&_bg {
		background-repeat: no-repeat;
		background-color: $c-gray-dark;
		background-size: cover;
		background-position: center;
	}
	&_fixed {
		position: fixed;
	}
}

img, iframe, svg {
	user-select: none;
}

.action {
	cursor: pointer;
}

/* CONTENT */

b {
	font-weight: 600;
}

.upper {
	text-transform: uppercase;
}

.secondary {
	color: $c-gray-dark;
}

.primary {
	color: $c-blue;
}

.text-center {
	text-align: center;
}

.text-big {
	font-size: $fz-h5;
}

.text-small {
	font-size: 12px;
}

.lead {
	font-family: $ff-title;
	line-height: 1.2;
}

/* titles */

.title_page {
	font-weight: 800;
	color: $c-blue;
	text-transform: uppercase;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $ff-main;
}

h1, .h1, h2, .h2 {
	font-weight: 400;
	&.lead {
		font-weight: 300;
	}
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 600;
	&.lead {
		font-weight: 400;
	}
}

h1, .h1{
	font-size: $fz-h1;
	letter-spacing: -1.5px;
	margin: 30px 0;

	@media (max-width: $m-sm-max) {
		font-size: $fz-h3;
	}
}

h2, .h2{
	font-size: $fz-h2;
	letter-spacing: -0.5px;
	margin: 20px 0;

	@media (max-width: $m-sm-max) {
		font-size: $fz-h4;
	}
}
h3, .h3{
	font-size: $fz-h3;
	letter-spacing: 0;
	margin: 20px 0;

	@media (max-width: $m-sm-max) {
		font-size: $fz-h5;
	}
}
h4, .h4{
	font-size: $fz-h4;
	letter-spacing: 0.25px;
	margin: 15px 0;

	@media (max-width: $m-sm-max) {
		font-size: $fz-h6;
	}
}
h5, .h5 {
	font-size: $fz-h5;
	letter-spacing: 0;
	margin: 15px 0;

	@media (max-width: $m-sm-max) {
		font-size: $fz-subtitle-1;
	}
}
h6, .h6 {
	font-size: $fz-h6;
	letter-spacing: 0.15px;
	margin: 15px 0;

	@media (max-width: $m-sm-max) {
		font-size: $fz-subtitle-2;
	}
}

.subtitle {
	font-size: $fz-subtitle-1;
	font-weight: 400;
	letter-spacing: 0.15px;

	@media (max-width: $m-sm-max) {
		font-size: $fz-subtitle-2;
	}
}

p, .text {
	font-size: $fz-body-1;
	font-weight: 400;
	letter-spacing: 0.5px;
	margin: 15px 0;
	@media(max-width: $m-sm-max) {
		font-size: $fz-body-2;
		letter-spacing: 0.25px
	}
}

figcaption, caption, .caption {
	font-size: $fz-caption;
	letter-spacing: 0.4px;
}

.overline {
	font-size: $fz-overline;
	letter-spacing: 1,5px;
	text-transform: uppercase;
}

/* LINKS */

a, .link {
	position: relative;
	color: $c-links;
	text-decoration: none;
	transition: color $tr-standart;

	&.no-style {
		display: block;
		color: inherit;
	}

	&.hide {
		color: $c-black;
	}

	&.disabled {
		color: $c-disabled;
		pointer-events: none;
	}
}

body:not(.touch) {
	a:not(.no-style, .button), .link {
		&:hover {
			color: darken($c-links, 20%);
		}
	
		&:focus {
			color: darken($c-links, 60%);
			outline: none;
		}

		&.hide {
			&:hover, &:focus {
				color: black;
				text-decoration: underline;
			}
		}

		&.disabled {
			&:focus, &:hover {
				cursor: not-allowed;
				background: white;
				color: $c-disabled;
			}
		}
	}
}

/* BUTTONS */

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	user-select: none;
}

button:not(.link), .button,
input[type=reset], input[type=button], input[type=submit] {

	&.alter {
		font-family: $ff-title;
		color: $c-black;
		background: white;
		border: 1px solid $c-gray;
		letter-spacing: 1.25px;
		padding: 10px 10px 5px 10px;
	}

	font-size: $fz-button;
	line-height: 1;
	font-weight: 400;
	color: white;
	text-transform: uppercase;

	border-radius: $br-standart;
	border: none;

	background: linear-gradient(180deg, #6F9BCF 0%, #66D2EA 100%);

	cursor: pointer;
	user-select: none;

	padding: 10px 15px;

	transition: all $tr-standart;

	&:disabled {
		cursor: not-allowed;
		color: $c-disabled;
		border: 1px solid $c-gray;
		background: white;
		pointer-events: none;
	}
}

body:not(.touch) {
	button:not(.link), .button,
	input[type=reset], input[type=button], input[type=submit] {
		&:hover, &:focus {
			background: linear-gradient(180deg, #ffbb00 0%, #ff9100 100%);
			color: white;
		}
	
		&:focus {
			outline: 0;
		}

		&.alter {
			&:hover, &:focus {
				background: $c-blue;
				color: white;
			}
		
			&:focus {
				outline: 0;
				background: darken($c-blue, 40%);
			}
		}
		&:disabled {
			&:focus, &:hover {
				background: white;
				color: $c-disabled;
			}
		}
	}
}

/* SCROLLBAR */

body {
	scrollbar-base-color: slategray;
	scrollbar-3dlight-color: transparent;
	scrollbar-highlight-color: transparent;
	scrollbar-track-color: #ECF0F1;
	scrollbar-arrow-color: slategray;
	scrollbar-shadow-color: transparent;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-thumb {
	background-color: $c-blue;
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: gray;
}

// SELECTION

::selection {
	-webkit-font-smoothing: antialiased;
	color: white;
	text-shadow: none;
	background: slategray;
}

// FORMS

fieldset {
	padding: 1.5em 2.5em 3em;
}

legend {
	padding: 0 15px;
}

label {
	color: $c-form-label;
	cursor: pointer;
}

.input, input[type=text], input[type=email], input[type=tel], input[type=url], input[type=password], input[type=search], input[type=number], textarea {
	padding: 0 0 5px 0;
	font-size: $fz-body-2;
	transition: box-shadow $tr-standart;
	border: none;
	border-bottom: 2px solid $c-form-label;
	color: $c-form-label;
	background-color: transparent;


	margin: 10px 0;

	body:not(.touch) &:hover {
		outline: none;
		border-color: $c-yellow;
	}

	&:focus {
		outline: none;
		border-color: $c-yellow;
		color: black;
	}
}

.form-group {
	margin: 10px 0;
}

.form-error {
	font-size: 14px;
	color: red;
}