@import './vars';

%list-items {
  padding: 10px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $c-gray;
  }
}

%figure-header {
  position: absolute;
  left: 0; top: 0;
  max-width: 50vw;
}

%figure-header-bg {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  z-index: -1;
}

%fixed-full {
  position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
}

%flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}