/* GLOBAL VARS */

/* fonts */
$ff-main: 'Open Sans', sans-serif;
$ff-title: 'Bebas', sans-serif;

/* brand colors */
$c-black: #000000;
$c-blue: #41bfef;
$c-yellow: #ffbb00;

$c-gray: #ececec;
$c-gray-dark: #4B4B4B;

$c-info: $c-gray;

$c-form-label: $c-gray-dark;
$c-form-input: $c-gray-dark;

$c-links: $c-blue;
$c-links-border: $c-black;
$c-disabled: #acacac;

$c-icons: #B6E1F4;

/* adaptive font size */
$fz-h1: 4rem;
$fz-h2: 3.5rem;
$fz-h3: 3rem;
$fz-h4: 2.125rem;
$fz-h5: 1.5rem;
$fz-h6: 1.25rem;

$fz-subtitle-1: 1.25rem;
$fz-subtitle-2: 1rem;

$fz-body-1: 1.25rem;
$fz-body-2: 1rem;

$fz-button: 1rem;

$fz-caption: 0.75rem;
$fz-overline: 0.625rem;

/* responsive breakpoints */
$m-xs-max: 575px; 	/* mobile */
$m-sm-min: 576px;
$m-sm-max: 767px;
$m-md-min: 768px;	/* tablet */ 
$m-md-max: 991px;
$m-lg-min: 992px;	/* desktop */
$m-lg-max: 1199px;
$m-xl-min: 1200px;	/* wide */

$tr-standart: 0.3s ease-in;

$br-standart: 5px;

$bshadow-standart: 0px 4px 16px rgba(0, 0, 0, 0.25);
$bshadow-modal: 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 4px 5px rgba(255, 255, 255, 0.5);

$header-height: 13vh;
$header-height-mobile: 5vh;

$header-mobile-control-size: 1.5rem;